<ol class="breadcrumb">
    <li class="active">Home</a></li>
    <li class="active">Grades</a></li>
</ol>

<%- partial ('partials/statusmessage.ejs') %>

<br>
<br>
<br>
<br>

<h2>Manage Grades</h2>
<button class="btn btn-success" id="addGradeButton">Add Grade</button>


<table class="table table-striped table-bordered" id="gradeTable" style="width:100%">

  <thead>
    <tr>
      <th>ID</th>
      <th>Grade</th>
      <th>Admin</th>
    </tr>
  </thead>
  <tbody>

  <% if(typeof grades != "undefined" && grades.length > 0){ %>
    <% grades.forEach(function(grade){ %></td>
      <tr>
        <td><%= grade.grade_id %></td>
        <td><%= grade.grade %></td>
        <td class="text-center">
          <button class="btn btn-primary" id="editButton" data-gradeid="<%= grade.grade_id %>">edit</button>
          <button class="btn btn-danger" id="deleteButton" data-gradeid="<%= grade.grade_id %>"> delete</button>
        </td>
      </tr>
    <% }) %>
  <% } %>
  </tbody>
</table>

<div style="display: none;" id="deleteConfirm">Are you sure you want to delete this record?</div>

<form action="/delete_grade" method="POST" style="display: none;" id="deleteform">
  <input type="hidden" name="grade_id" value="dan">
</form>

<form style="display: none;" action="" method="POST" class="form-horizontal" id="manageGradeForm">
  <input type="hidden" name="grade_id">

  <div class="form-group">
    <label for="grade" class="col-sm-2 control-label">Grade</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="grade" name="grade" placeholder="Grade" required>
    </div>
  </div>

  <!-- <div class="form-group">
    <label for="last_name" class="col-sm-2 control-label">Last Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="last_name" name="last_name"  placeholder="Last Name" required>
    </div>
  </div>
  <div class="form-group">
    <label for="start_date" class="col-sm-2 control-label">Start Date</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="start_date" name="start_date" placeholder="2017-01-01" required>
    </div>
  </div>
  <div class="form-group">
    <label for="gpa" class="col-sm-2 control-label">GPA</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="gpa" name="gpa" placeholder="4.0">
    </div>
  </div>
  <div class="form-group">
    <label for="sat" class="col-sm-2 control-label">SAT Score</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="sat" name="sat" placeholder="1400">
    </div>
  </div>
  <div class="form-group">
    <label for="major_id" class="col-sm-2 control-label">Major ID</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="major_id" name="major_id">
    </div>
  </div> -->

</form>
