<ol class="breadcrumb">
    <li class="active">Home</a></li>
    <li class="active">Classes</a></li>
</ol>

<%- partial ('partials/statusmessage.ejs') %>

<br>
<br>
<br>
<br>

<h2>Manage Classes</h2>
<button class="btn btn-success" id="addClassButton">Add Class</button>
<table class="table table-striped table-bordered" id="classTable" style="width:100%">
  <thead>
    <tr>
      <th>ID</th>
      <th>Instructor ID</th>
      <th>Subject</th>
      <th>Course</th>
      <th>Admin</th>
    </tr>
  </thead>
  <tbody>
  <% if(typeof classes != "undefined" && classes.length > 0){ %>
    <% classes.forEach(function(currentclass){ %>
      <tr>
        <td><%= currentclass.class_id %></td>
        <td><%= currentclass.instructor_id %></td>
        <td><%= currentclass.subject %></td>
        <td><%= currentclass.course %></td>
        <td class="text-center">
          <button class="btn btn-primary" id="editButton" data-classid="<%= currentclass.class_id %>">edit</button>
          <button class="btn btn-danger" id="deleteButton" data-classid="<%= currentclass.class_id %>"> delete</button>
        </td>
      </tr>
    <% }) %>
  <% } %>
  </tbody>
</table>

<div style="display: none;" id="deleteConfirm">Are you sure you want to delete this record?</div>

<form action="/delete_class" method="POST" style="display: none;" id="deleteform">
  <input type="hidden" name="class_id" value="dan">
</form>

<form style="display: none;" action="" method="POST" class="form-horizontal" id="manageClassForm">
  <input type="hidden" name="class_id">

  <div class="form-group">
    <label for="instructor_id" class="col-sm-2 control-label">Instructor ID</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="instructor_id" name="instructor_id" placeholder="Instructor ID" required>
    </div>
  </div>

  <div class="form-group">
    <label for="subject" class="col-sm-2 control-label">Subject</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="subject" name="subject"  placeholder="Subject" required>
    </div>
  </div>

  <div class="form-group">
    <label for="course" class="col-sm-2 control-label">Course</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="course" name="course" placeholder="Course" required>
    </div>
  </div>

  <!-- <div class="form-group">
    <label for="gpa" class="col-sm-2 control-label">GPA</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="gpa" name="gpa" placeholder="4.0">
    </div>
  </div>
  <div class="form-group">
    <label for="sat" class="col-sm-2 control-label">SAT Score</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="sat" name="sat" placeholder="1400">
    </div>
  </div>
  <div class="form-group">
    <label for="major_id" class="col-sm-2 control-label">Major ID</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="major_id" name="major_id">
    </div>
  </div> -->

</form>
